.logo-containter {
    display: flex;
    align-items: center;
}

.logo {
    // padding: 0 nb-theme(padding);
    // font-size: 1.75rem;
    img {
        width: 4.6rem;
        padding: 0.3rem;
        margin-right: 1rem;
        // width: 5.6rem;
    }
}