<nb-layout>

  <nb-layout-header fixed>
    <!-- Insert header here -->
    <div class="logo-containter">
      <div class="logo">
        <img src="assets/logosunidos.png" alt="">
      </div>
    </div>

    <div class="header-container">
      UNIÓN PERUANA DEL NORTE <br> <small> Capacitación de coordinadores MCA-MJ </small>
    </div>
  </nb-layout-header>

  <nb-layout-column>

    <mcaj-layout></mcaj-layout>
  </nb-layout-column>

  <!-- <nb-layout-footer fixed> -->
  <!-- Insert footer here -->
  <!-- </nb-layout-footer> -->

</nb-layout>